 /* Color Pallete:#08D9D6 #252A34 #FF2E63 #EAEAEA */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* Containers */
.container-fluid{
    padding: 3% 8%;
}

#home .container-fluid{
    padding-bottom: 0;
}

#about .container-fluid{
    padding-top: 3%;
}
/* Texts */
.section-title{
    text-align: center;
    font-weight: 900;
    font-size: 2.25rem;
}

/* Home */
#home{
    background-color: #252A34;
}

 /* Navbar */
.navbar{
    padding: 0 0 3.5rem;
}

.navbar-brand {
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.brand-container span{
    color: #08d9d6;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.25rem;
}

.nav-link:hover{
    color: #08d9d6 !important;
    text-shadow:0px 0px 10px #08d9d6;
}

/* Title */
.title-text{
    padding-top: 15%;
}

.title p{
    color: #EAEAEA;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.title h1{
    color: #08d9d6;
    font-weight: 900;
    font-size: 4rem;
}

.title img{
    width: 75%;
    padding-left: 2rem;
}

/* About */
#about{
    background-color: #EAEAEA;
}

#about .section-title{
    color: #252A34;
}

.about-content{
    margin-top: 10%;
}

#about img{
    width: 90%;
}

span.typing, span.typed-cursor{
    color: #FF2E63;
    font-size: 2.25rem;
}

#about img{
    border: #252A34 5px solid;
}

.typing-container{
    margin-bottom: 2%;
}

.about-text{
    margin-top: 12%;
    margin-left: 7%;
    text-align: justify;
}

.about-text .btn{
    background-color: #FF2E63;
    border: #FF2E63;
    margin-top: 11%;
}
